*{
    margin: 0;
    padding: 0;
    font-family: regularfont;
   
    box-sizing: border-box;
}
@font-face {
  font-family: regularfont;
  src: url(font/OPPOSans-VN-Regular.woff2);
}
@font-face {
  font-family: mediumfont;
  src: url(font/OPPOSans-VN-Medium.woff2);
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
    width: 71%;
    margin: 0 auto;

}
.clear{
    clear:both;
}
.buttom{
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
  }
.buttom:hover{
  color: #fff;
}
ul{
    display: inline-block;
    align-items: center;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
  text-decoration: none;
  color: #000;
}

#nav a:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}
h3, h1{
    display: block;
    width: 100%;
    text-align: left;
  }
  h1{
    font-size: 52px;
  }
  h2{
    font-size: 36px;
    font-family: regularfont;
  }
.logo {
   height: 25px;
   position: absolute;
   top: 30px;
}

#nav .search {
   float: right;

}
#nav i{
  line-height: 80px;
}
#ctnav{
  height: 80px;
  min-width: 940px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}
#ctnav a{
  font-size: 16px;
  padding: 28px 16px;
  line-height: 80px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.39);
}
#ctnav a:nth-child(7){
  padding-right: 0;
}
#nav a:hover{
  color: #000;
}
@media screen and (max-width: 1420px) {
#ctnav{
  min-width: 675px;
}
  #ctnav a{
    font-size: 12px;
    padding: 20px 10px; 
  }
  #nav .container{
    width: 90%;
  }
}

.spcnt{
  margin-top: 10px;
}
.btn-default{
    background-color: #000;
    color: #fff;
    border: none;
    display: block;
}
.carousel-indicators li {
  border: 2px solid #b4b4b4;
}
.carousel-caption1, .carousel-caption2, .carousel-caption4{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}
.carousel-caption3{
    position: absolute;
    left:  70%;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    width:max-content;
}
.item .buttom{
  float: left;
}
.carousel-caption h1,.carousel-caption h3{
    float: left;
    margin: 0 0 30px 0;
}
.row img{
    width: 100%;
    

}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    position: relative;
    transform: translateX(-50%);
    margin-left: 50%;
    width: 50%;
    margin-top: 50px;
  }
  
  select{
    width: 80px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .vung input:focus-visible,
  .vung input{
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
 
  #ct2{
    margin-top: 100px;
    margin-bottom: 100px;

  }
  #ct2 .tren{
    margin-bottom: 20%;
  }
  #ct2 .col-sm-6{
    width: 51%;
  }
  #ct2 .col-sm-5{
    width: 40.6667%;
  }
  #ct3 .buttom,
  #ct2 .buttom{
    padding: 10px 20px;
    font-size: 12px;
    display: inline-block;
    min-width: 125px;
  }
  #ct3 a,
  #ct2 a{
    font-size: 20px;
  }
  .imgspm{
    overflow: hidden;
    min-width: 370px;
  }
  .imgspz,
  .imgsp{
    overflow: hidden;
  }
  .imgspm img,
  .imgsp img {

    transition: all .5s;
    transform: scale(1.1);
    width: 100%;
}

.imgspm:hover img,
.imgsp:hover img {
    transform: scale(1);
}
#ct3 .col-sm-4{
  width: 30.333333%;
}

#ct3 .col-sm-1{
  width: 9.333333%;
}
#ct3 .col-sm-7{
  width: 58.333333%;
}
  #ct5,
  #ct4{
    background-color: rgb(192,166,154);
    margin-top: 201px;
  }
  #ct5 .container,
  #ct4 .container{
    padding: 150px 0 ;
  }
  #ct5 .cu,
  #ct4 .cu{
    margin-bottom: 50px;
    font-family: mediumfont;
    color: #000;
   
  }
  #ct5 p,
  #ct4 p{
    font-size: 20px;
    padding-top: 15px;
    font-family: mediumfont;
    color: #000;
  }
  #footer {
    background-color: #121212;
  }
  #footer g{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 120px;
  }
  #footer #email{
    height: 66px;
    width: 383px;
    background-color: #4A4A4A;
    border: 0;
    margin-right: 5px;
  }
  #footer #sdt{
    height: 66px;
    width: 280px;
    background-color: #4A4A4A;
    display: inline-block;
  }
  #footer select{
    height: 65px;
    width: 90px;
    background-color: #4A4A4A;
    position: relative;
    top: -4px;
  }
  input[type="text"]{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }
  #footer .vung{
    background-color: #4A4A4A;
    height: 66px;
    width: 383px;
    display: inline-block;
    margin-right: 5px;
  }
  #footer .buttom{
    padding: 19px 70px;
    background-color: rgb(4, 106, 56) !important;
    font-size: 20px;
    position:relative;
    top:-2px;
    left: 0;
    display: inline-block;
  }
  .checkbox{
    position:relative;
    left: 0;

  }
  .checkbox input[type="checkbox"]{
    width: 16px;
    height: 16px;
    background-color: #121212;
    border: 2px solid #242e34 !important;
    z-index: 0;
    margin-left: 0;
    display: block;
  }
  .checkbox label{
    font-size: 16px;
    color: #fff;
  }
  #menu{
    margin-top: 100px;
    margin-bottom: 30px;
  }
  #menu h5{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
  #menu a{
    font-size: 12px;
    color: rgba(255,255,255,0.56);
    display: block;
    line-height: 20px;
  }
  #chat a{
    border-bottom: 2px solid #fff;
    color: #fff;
  }
  #icmedia{
    height: 44px;
  }
  #icmedia li{
    margin-top: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #aaa;
    display: inline-block;
  }
  #icmedia li a{
    line-height: 24px;
    margin-left: 5px;
  }
#tamemail,
#tamhotline{
  display: none;
 
}

#hien a {
  color: #fff;
}
#hien{
  margin: 30px 0 ;
}
#hotline{
  margin-top: 40px;
}
#click{
  border-bottom:1px solid  rgba(255,255,255,0.24);
  display:inline;
  padding-bottom: 3px;

}
#click a{
  color: #fff;
  padding-right: 100px;
  font-family: mediumfont;
  
}
#end{
  border-top:1px solid  rgba(255,255,255,0.24);
  padding:30px 0 ;

}
#end a{
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  padding-right: 10px;
}
#end .languages{
  border-bottom: 1px solid ;
  color: #fff;
}
/*page2*/
#sticky {

  position: sticky;
  top: 0;
  box-shadow: 0px 6px 12px 0 rgb(0 0 0 / 15%);
  background-color: #ffffffec;
  z-index: 1;
}
#sticky .container{
  padding: 20px 0;
}
.namenav{
  font-family: mediumfont;
  font-size: 28px;
}
.ctname{
  display: inline;
}
.allsp{
  font-size: 16px;
  display: inline;
  position: relative;
  right: 0;
  text-decoration: 3px underline rgb(46, 200, 78);
}
.allsp:hover{
  text-decoration: 3px underline rgb(46, 200, 78);
}
.imgspz img {
  transition: all .5s;
  transform: scale(1);
  width: 100%;
}
.imgspz:hover img{
  transform: scale(1.1);
}
.item-box:hover img {
  transform: scale(1.05);
}
.item-box{
  position: relative;
  display: flex;
  justify-content: center;
  height: 314px;
  width: 90%;
  background: #f6f6f6;
}
.item-box img{
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  transition: all .3s;
  width: auto;
  margin-top: 36px;
  transition: all .3s;
  transform: scale(1);

}
.choose-color{
  position: absolute;
    display: flex;
    justify-content: center;
    bottom: 30px;
    width: 120px;
    height: 24px;
}
#sp .row{
  margin-top: 55px;
}
.row .demo img{
  height:314px;
}
.in4sp a{
  text-decoration: underline;
}
.button-color{
  height:15px;
  width:15px;
  border:none;
  border-radius:50%;
  padding:5px;
  margin: 5px;
}
.button-color:focus{
  border: 2px solid rgb(129, 125, 125);
  padding: 8px;
}
.black{
  background-color: #000;
}
.white{
  background-color: rgb(219, 219, 219);
}
.blue{
  background-color: rgb(44, 124, 216);
}
.orange{
  background-color: rgb(255, 154, 107);
}
.rainbow{
  background-color: rgb(139, 255, 240);
}
.grey{
  background-color: rgb(128, 128, 128);
}
.silver{
  background-color: rgb(145, 215, 255);
}
.purple{
  background-color: rgb(238, 194, 255);
}
.green{
  background-color: rgb(155, 255, 233);
}
.vanilla{
  background-color: rgb(255, 216, 172);
}
.cach{
  height: 100px;
}
/*page-3*/
.container2{
  width: 50%;
  margin: 0 auto;
}
.incontainer{
  width: 90%;
  margin: 0 auto;
}
#store h1{
  font-size: 68px;
  text-align: center;
  padding: 50px 0;
  font-family: regularfont;
}
#storeimg .imgsp{
  margin-bottom: 50px;
}
#store p{
  font-size: 20px;
  margin-bottom: 30px;
}
#bach{
  padding: 50px 0 158px 0;
}
#service{
  padding-top: 128px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
}
#service .container2{
  width: 45%;
}
#service h1{
  font-size: 48px;
  padding-bottom: 40px;
  text-align: center;
}
#service a{
  display: block;
  text-align: center;
  margin: 0 39%;
}
.icservice ul{
  align-items: flex-start;
  display: flex;
  padding-top: 30px;
}
.icservice li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 17%;
}
.icservice li p{
  display: inline-block;
  width: 100px;
  padding-top: 20px;
  font-size: 16px;
  font-family: mediumfont;
  text-align: center;
}
.icservice ul li:nth-child(4){
  padding-right: 0;
}
#chtn h2{
  padding:50px 0;
  text-align: center;
  font-size: 48px;
}
#chtn .container2{
  width: 79%;
  font-size: 20px;
}
#chtn p a{
  color: #046a38;
  display: inline;
}
#ct5{
  background-color: rgb(235,240,243);
}
/*Page-4*/
@font-face {
  font-family: bold;
  src: url(font/MyriadPro-Bold.woff2);
}
@font-face {
  font-family: regular;
  src: url(font/MyriadPro-Regular.woff2);
}
@font-face {
  font-family: semi;
  src: url(font/MyriadPro-Semibold.woff2);
}
@font-face {
  font-family: regular2;
  src: url(font/glyphicons-halflings-regular.woff);
}
.topbanner{
  background-color: #fff;
  text-align: center;
  padding: 0 30px;
  width: 99%;
  margin-top: 20px;
  margin-bottom: 15px;
}
.topbanner h2{
  font-size: 24px;
  line-height: 20px;
  font-family: regular;
  font-weight: 600;
  display: inline-block;
}
#muahang{
  background: #bbbbbb23;
}
#banner img{
  width: 100%;
}
.container3{
  width: 60%;
  margin: 0 auto;
}
.newproduct .row{
  margin: 0;
  padding: 0;
}
.newproduct .row .col-sm-6,
.newproduct .row .col-sm-4{
  background-color: #fff;
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 10px;
}
.newproduct .row .col-sm-6{
  width: 49%;
  display: flex;
  min-width: 370px;
}
.newproduct .row .col-sm-4{
  width: 32.5%;
  display: flex;
  min-width: 285px;
}
.info .tag{
  text-align: right;
  display: block;

}
.info .tag img{
  height: 14px;
  width: auto;
}
.info .tag p{
  display: inline-block;
  color: #fd820a;
  font-size: 14px;
  font-family: bold;
}
.info-phone{
  display: block;
}
.info-phone li{
  font-size: 14px;
  font-family: regular;
  display: block;
}
.newproduct .row .col-sm-4 .phone img{
  width: 150px;
}
.phone img{
  width: 200px;
  margin-left: 28px;
}
.price{
width: 120%;
}
.phone .old-price,
.phone .new-price{
  font-family: bold;
  font-size: 24px;
  color: red;
  display: block;
  text-align: center;
}
.phone .old-price{
  text-decoration:line-through;
  color: #939393;
  font-size: 21px;
}
.phone .phonename{
  font-size: 34px;
  color: #000c;
  font-family: bold;
  margin-top: 24px;
  text-align: center;
  margin-bottom: 0;
}
.newproduct .row .col-sm-4 .phone img{
  margin-left: 2px;
}
.newproduct .row .col-sm-6 .phone,
.newproduct .row .col-sm-4 .phone{
  flex: 1 1 0%;
}
.newproduct .row .col-sm-6 .info,
.newproduct .row .col-sm-4 .info{
  flex: 1 1 1%;
}
.newproduct .row .col-sm-4 .new-price,
.newproduct .row .col-sm-4 .phonename{
  font-size: 18px;
  display: inline-block;
  text-align: left;
}
.newproduct .row .col-sm-4 .old-price{
  font-size: 14px;
  display: inline;
}
.newproduct .row .col-sm-4 .buynow{
  padding: 5px 15px;
  font-size: 12px;
}
.newproduct .row .col-sm-4:hover,
.newproduct .row .col-sm-6:hover{
  box-shadow: 3px 2px 5px 2px #888;
}
.buynow{
  color: #046A38;
  border: 1px solid #046A38;
  border-radius: 35px;
  padding: 9px 36px;
  background-color: #fff;
  font-weight: bolder;
  font-size: 18px;
  font-family: bold;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.buynow a{  color: #046A38;}
.buynow:hover a,
.buynow a:hover{color: #fff;}
.buynow:hover {
  background-color: #046A38;
  color: #fff;
}
.newproduct .row .col-sm-4 .phone .discount{
  font-size: 12px;
  top: 186px;
  width: 130px;
  padding-top: 2px;
  height: 19px;
}
.discount{
    position: absolute;
    height: 30px;
    width: 180px;
    background-color: red;
    background-image: linear-gradient(100deg, rgba(253,130,10, 1) 20%, red);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
    top: 238px;
    font-family: bold;
    padding-top: 4px;
    left: 0;
}
footer{
  margin-top: 50px;
}
footer .container{
  width: 85%;

}
#menunew a{
  display: block;
  font-family: regular;
  font-size: 14px;
  color: #333;
  opacity: 0.8;
  margin-bottom: 15px;
}
#menunew a:hover{
  text-decoration: underline;
  color: #046A38;
}
#menunew .title{
  font-family: semi;
  font-size: 15px;
}
#menunew .title:hover{
  text-decoration: underline;
  color: #001b0e;
}
#menunew>a{
  text-align: right;
}
.icend ul{
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.icend li{
  border-radius: 50%;
    background-color: rgba(182, 182, 182, 0.425);
    width: 21px;
    margin-right: 10px;

}
.icend i{
  color: #fff;
}
.icend a{
  padding: 0;
  padding-left: 3px;
}
.ic p{
  display: inline-block;
  font-family: regular;
  font-size: 14px;
  color: #333;
  opacity: 0.8;
}
#bct a{
  width: 182px;
  float: right;
}
#bct img{
  height: 65px;
}
#end1{
  border-top: 1px solid rgb(212, 212, 212);
  padding-top: 23px;
  font-family: semi;
  font-size: 15px;
}
#end1 .left{
  font-family: regular;
  font-size: 14px;
  color: #333;
  opacity: 0.8;
}
/*---------------------------------------------------------------------*/
